<html>
<head>

    <link rel="stylesheet" href="/static/style.css?q={{datetime}}" />
    <link rel="stylesheet" href="/static/gallery.css?q={{datetime}}" />
    <link rel="stylesheet" href="/static/swiper.min.css?q={{datetime}}">

    <script src="/static/spin.min.js?q={{datetime}}"></script>
    <script src="/static/jquery-3.0.0.min.js?q={{datetime}}"></script>
    <script src="/static/swiper.min.js?q={{datetime}}"></script>
    <script src="/static/swiper.jquery.min.js?q={{datetime}}"></script>

</head>
<body>
    <div class="container">
        <h1 class="mstar redText"><span id="wipe">MSTAR</span><span class="mstar whiteText">Dataset</span></h1>
        <overview>
            <div class="swiper-container s2">
                <div class="swiper-wrapper">
                    {{overviewBlock|safe}}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </overview>
    </div>
    <script>
      $(document).ready(function () {
      var swiper2 = new Swiper('.s2', {
        pagination: '.swiper-pagination',
        effect: 'cube',
        grabCursor: true,
        cube: {
            shadow: true,
            slideShadows: true,
            shadowOffset: 20,
            shadowScale: 0.94
      }})

      var refresh = function(iframe) {
        var f = $(iframe);
        f.attr('src', f.attr('src'));
      };

      $('button').on('click', function() {
        var _self = $(this);
        var id = _self.attr('id');
        
        _self.attr('disabled', true);
        
        var p = _self.parent();
        var spinner = new Spinner({
            color: '#F00'
            , shadow: true // Whether to render a shadow
            , hwaccel: true // Whether to use hardware acceleration
        }).spin();
        p.append(spinner.el);

        $.get('/process/' + id, function(data) {
            
            p.css('background-image', 'url(../' + data + ')');

            refresh($(p).find('iframe'));
            spinner.stop();
            _self.css('visibility', 'hidden');
            _self.attr('disabled', false);
        });
      });
      $('#wipe').on('click', function() {
        $.get('/reset/', function(data) {

            $('iframe').each(function() {
                refresh($(this));
            });

            $('.swiper-slide').each(function(){
                var t = $(this);        
                t.css('background-image',
                    t.css('background-image').replace(/_class/, '_full'));
            });

            $('button').each(function() {
                $(this).css('visibility', 'visible');
                $(this).attr('disabled', false);
            });
        });
      });
    });
    </script>
</body>
</html>
