* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blowup {
  position: relative;
  display: block;
  width: 100px;
  transform: translateZ(0); /* hack */
}

.container {
  width: 500px;
  margin: auto;
  padding: 5px;
  background: transparent;
}

div.swiper-container {
    width: 500px;
    height: 300px;
    margin-top: -45px;
}

div.swiper-wrapper {
    margin-top: 45px;
    overflow: visible !important;
    z-index: 1;
} 

.overview {
  margin: auto;
  position: left;
  padding: 5px;
  background: transparent; 
  z-index: 0;
}

overview.swiper-container {
    width: 500px;
}

.overview > div > img {
  width: 500px;
  margin: left;
  position: center;
  display: block;
}

.swiper-wrapper > div > img {
  width: 100px;
  transform: translateZ(0); /* hack */
}

.swiper-wrapper > div:hover {
  z-index: 1;
}

.swiper-wrapper > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .2s transform;
  box-shadow: 0 2px 10px rgba(0,0,0,.5);
}

.cf:before, .cf:after {
  display: table-row;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}
